<h1>Login</h1>
<form>
    Username:<input type="text" name="username" class="js-username"><br>
    Password: <input type="password" name="password" class="js-password"><br>
    <input type="submit" class="js-submit">
</form>